.item-card {
  width: 325px;
  height: 328px;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s linear;
}

.item-card__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 80px;
  top: 0px;
  border-radius: 10px;
}

.item-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s linear;
}

.item-card__name-container {
  display: flex;
  margin: auto;
  justify-content: center;
}

.item-card__name {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 0;
  background-color: white;
  text-overflow: ellipsis;
  max-width: 30%;
}
