.weather {
  position: relative;
  padding: 20px 0 0 0;
  max-width: 1360px;
  min-width: 380px;
  min-height: 80px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.weather__cloudy-day {
  background-image: url("../images/cloudyDay.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__cloudy-night {
  background-image: url("../images/cloudyNight.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__fog-night {
  background-image: url("../images/fogNight.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__fog-day {
  background-image: url("../images/fogDay.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__rain-night {
  background-image: url("../images/rainNight.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__rain-day {
  background-image: url("../images/rainDay.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__snow-night {
  background-image: url("../images/snowNight.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__snow-day {
  background-image: url("../images/snowDay.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__storm-night {
  background-image: url("../images/stormNight.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__storm-day {
  background-image: url("../images/stormDay.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__sunny-night {
  background-image: url("../images/sunnyNight.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

.weather__sunny-day {
  background-image: url("../images/sunnyDay.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: auto;
}

/*
margin: 0;
  max-width: 1360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
*/
.weather__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 80px;
}

.weather__text {
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "Cabinet Grotesk";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
