.modal {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  /*The poniter-events:none must be set when the form is NOT visible.
          If NOT set, then the user can still see the pointer changing to clickable 
          pointer when hovered over the invisible form elements. If clicked, 
          the events are processed, as if the form is visible*/
  /* pointer-events: none; */

  /*This transition will make the item-modal fade away, instead of abruptly closing*/
  /*The transition does not apply for the display property. You have to use visibility property*/
  /* transition: visibility 0s, opacity 0.5s linear; */
  transition: visibility 0.2s, opacity 0.2s linear;
}

.modal_open {
  /* display: flex; */
  visibility: visible;
  /*The following opacity setting is necessary even thouh we are using opacity in transition*/
  opacity: 1;
  /*This transition will make the item-modal slowly be visible instead of abruptly being visible*/
  /* transition: visibility 0.5s, opacity 0.5s linear; */

  /*The poniter-events:all must be set when the form is visible.
          If NOT set, then the user cannot interact with the form*/
  pointer-events: all;
}
